# Python
**/__pycache__/
*.py[cod]
*.egg-info/
.python-version

# Virtualenvs (anywhere)
**/.venv/
**/venv/
**/env/
server/facial-project/   # your current venv path

# Node
**/node_modules/
**/dist/
**/build/

# OS/Editor
.DS_Store
.vscode/